<header>
    <nav>
        <a href="{{ asset("/") }}">Me</a> |
        <a href="{{ asset("about") }}">About</a> |
        <a href="{{ asset("report") }}">Report</a> |
        <a href="{{ asset("card") }}">Cards</a>
    </nav>
</header>