{% include 'incl/header.twig' %}


    <body style="text-align: center;">
    {% include 'incl/nav.twig' %}


        <article>
            <h1>Min me-sida i kursen mvc</h1>

            <div>
                <p>
                    Mitt namn är Oscar Wystråle. Född och uppvuxen i Ödåkra, Skåne, strax utanför Helsingborg,
                    i ett villaområde som befinner sig mellan Ödåkra centrum och köpcenturet Väla.
                    Jag gillar att spendar min tid på programmering, ny kunskap, tvspel och på min häsla iform av styrketräning.
                    Jag har jobbar med digital marketing, SEO (search engine optimization), SEO skrivbent och konsult.
                    Jag gick på Svensgårdsskolan under grundskolan sedan gick jag på NTI Gymnasiet eller
                    IT Gymnasiet som det heter när jag sökte. Det som jag studerade på NTI var information och medieteknik.
                </p>
                <p>
                    Programmering och tv-spel har alltid intresserat mig sedan 10-årsåldern och min första konsol var Playstation (1)
                    Mina hobbys är främst programmering, styrketräning, tv-spel, investeringar inom aktier och fonder.
                    Det som jag skulle behöver introducera i mitt liv just nu skulle varit mer arbets erfarenheter.
                </p>
            </div>
            <br>
        </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>