{% include 'incl/header.twig' %}

    <body style="text-align: center;">
        {% include 'incl/nav.twig' %}
            <article>
                <h1>Min report-sida i kursen mvc</h1>
                <div>
                    <h3> Kmom 01 </h3>
                    <p>
                        Redovisning 01
                    </p>
                </div>
                <div>
                    <h3> Kmom 02 </h3>
                    <p>
                        Redovisning 02
                    </p>
                </div>
                <div>
                    <h3> Kmom 03 </h3>
                    <p>
                        Redovisning 03
                    </p>
                </div>
                <div>
                    <h3> Kmom 04 </h3>
                    <p>
                        Redovisning 04
                    </p>
                </div>
                <div>
                    <h3> Kmom 05 </h3>
                    <p>
                        Redovisning 05
                    </p>
                </div>
                <div>
                    <h3> Kmom 06 </h3>
                    <p>
                        Redovisning 06
                    </p>
                </div>
                <div>
                    <h3> Kmom 07 / 10 </h3>
                    <p>
                        Redovisning 07 / 10
                    </p>
                </div>
                <br>
            </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>