{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Welcome to blackjack Docs</h1>
        </div>
        <div class="row">
            <p> 
                Blackjack is a card game played with one or more decks of standard playing cards. 
                The objective of the game is to beat the dealer by having a hand that is worth more 
                points than the dealer's hand, without going over 21 points.
                Each card is worth its face value, with face cards (jacks, queens, and kings) worth 10 points 
                and aces worth either 1 or 11 points, depending on which value would be more beneficial to the player.
                At the beginning of each round, each players  are dealt two cards face up, 
                while the dealer receives one card face up and one card face down.
                Players can then choose to "hit" and receive additional cards to improve their hand, or "stand" and keep their current hand.
                If a player's hand exceeds 21 points, they "bust" and lose the hand. 
                If the dealer's hand exceeds 21 points, they also bust and all remaining players wins.
                Dealer cant hit anymore if this score above 17.
            </p>
            <p>
                To start the game add the amount of players to the website link /:players like ./card/blackjack/2
                After that the game will start
            </p>
        </div>
    </div>
{% endblock %}