{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Your card(s) you draw</h1>
        </div>
        <div class="row">
            {{deck|raw}} <br> Amout of cards left in deck: {{deck_left}}
        </div>
    </div>
{% endblock %}