{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <ul>
                <li> <a href="#"> Sorted Deck /card/deck </a> </li>
                <li> <a href="#"> Shuffle Deck /card/shuffle </a> </li>
                <li> <a href="#"> Draw Card /card/draw </a> </li>
            </ul>
        </div>
    </div>
{% endblock %}