{% include 'incl/header.twig' %}


    <body style="text-align: center;">
    {% include 'incl/nav_cards.twig' %}


        <article class="cards">
            <h1>Doc för game kmom03</h1>

            <div>
                <a href="{{ asset("img/blackjackFlowchart.svg")}}" target="_blank"> Flowchart</a> <br>
                <a href="{{ asset("img/blackjackPseudokod.png")}}" target="_blank"> Pseudokod</a>
            </div>
            <br>
        </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>