{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1> Lucky card </h1>
            <p>
                <h3> You lucky card is: {{card}} </h3>
            </p>
        </div>
    </div>
{% endblock %}