
.blackjackDealer{
    display: grid;
    grid-template-columns: 500px auto auto auto auto;
    justify-items: center;
}

.blackjackPlayers{
    display: grid;
    grid-template-columns: 500px auto auto auto auto;
    justify-items: center;
}

.players,
.dealer{
    text-align: center;
}

.players a{
    background-color: gray;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.hit,
.stand{
    width: 70px;
}