{% include 'incl/header.twig' %}


    <body style="text-align: center;">
    {% include 'incl/nav.twig' %}
        <article>
            <h1>Min about-sida i kursen mvc</h1>
            <br>
            <img src="https://symfony.com/images/opengraph/symfony.png" style="vertical-align: middle; width: 150px;">
            <h1> Symphony framework</h1> 
        </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>