{% include 'incl/header.twig' %}

    <body style="text-align: center;">
        {% include 'incl/nav.twig' %}
            <article>
                <h1>Min report-sida i kursen mvc</h1>
                <div>
                    <h3> Kmom 01 </h3>
                    <p>
                        Jag har en del förkunskap angånde objektorientering. Jag fick med med förra läsperoiden med oopy. Annars har jag inga förkunskap utöver oopy kursen.
                        <br><br>
                        För att kunna komma igång med sina första klasser med php är grundlig kunskap angånde sitt ramvärk som var symfony i detta fallet.
                        Gäller att titta på documentationen för klasses och förstå grundligt had som händer. Men det är främst bara att render sin tamplate
                        som är byggd med twig filer.
                        <br><br>
                        Kod strukturen är inte så svår att förstå allt är uppdelat med mappar som innehåller allt angånde ett område som templates innehåller alla twig filerna som
                        ansvarar för hur hemsidan ser ut och innehåll. Koden är håller inte så svår det är bara grundligt html, css och php som behövs för att kunna förstå vad som händer.
                        <br><br>
                        Artiklen innehåller mycket intressant infomation som man vill lära sig. Men det som jag känner främst för min del skulle varit säkerhet. Just nu har jag ingen kunskap
                        hur man skriver säkerkod och hur man tänka för att skydda sig.
                        <br><br>
                        I detta kmom har jag fått lära mig ramvärket symfony och den grundliga kunnskapen om objektorientering med php och hur man gör sina egna controller
                        för att kunna skapa saker på webben.
                    </p>
                </div>
                <div>
                    <h3> Kmom 02 </h3>
                    <p>
                        Redovisning 02
                    </p>
                </div>
                <div>
                    <h3> Kmom 03 </h3>
                    <p>
                        Redovisning 03
                    </p>
                </div>
                <div>
                    <h3> Kmom 04 </h3>
                    <p>
                        Redovisning 04
                    </p>
                </div>
                <div>
                    <h3> Kmom 05 </h3>
                    <p>
                        Redovisning 05
                    </p>
                </div>
                <div>
                    <h3> Kmom 06 </h3>
                    <p>
                        Redovisning 06
                    </p>
                </div>
                <div>
                    <h3> Kmom 07 / 10 </h3>
                    <p>
                        Redovisning 07 / 10
                    </p>
                </div>
                <br>
            </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>