{% include 'incl/header.twig' %}

    <body style="text-align: center;">
        {% include 'incl/nav.twig' %}
            <article>
                <h1>Min report-sida i kursen mvc</h1>
                <div>
                    <h3> Kmom 01 </h3>
                    <p>
                        Jag har en del förkunskap angånde objektorientering. Jag fick med med förra läsperoiden med oopy. Annars har jag inga förkunskap utöver oopy kursen.
                        <br><br>
                        För att kunna komma igång med sina första klasser med php är grundlig kunskap angånde sitt ramvärk som var symfony i detta fallet.
                        Gäller att titta på documentationen för klasses och förstå grundligt had som händer. Men det är främst bara att render sin tamplate
                        som är byggd med twig filer.
                        <br><br>
                        Kod strukturen är inte så svår att förstå allt är uppdelat med mappar som innehåller allt angånde ett område som templates innehåller alla twig filerna som
                        ansvarar för hur hemsidan ser ut och innehåll. Koden är håller inte så svår det är bara grundligt html, css och php som behövs för att kunna förstå vad som händer.
                        <br><br>
                        Artiklen innehåller mycket intressant infomation som man vill lära sig. Men det som jag känner främst för min del skulle varit säkerhet. Just nu har jag ingen kunskap
                        hur man skriver säkerkod och hur man tänka för att skydda sig.
                        <br><br>
                        I detta kmom har jag fått lära mig ramvärket symfony och den grundliga kunnskapen om objektorientering med php och hur man gör sina egna controller
                        för att kunna skapa saker på webben.
                    </p>
                </div>
                <div>
                    <h3> Kmom 02 </h3>
                    <p>
                        Inom php fungerar arv genom att en klasses extends en annan. Detta gör att den klassen som blir extrended får funktionerna från den andra klassen.
                        Detta gör att man kan få ankomst till den andra klassens funktioner. En trait kan man förklara som en återanvändbar modul som går att använda
                        i flera klasser. Ett interface är en implementation som gör att klasser kan användas sin uppsättnings metoder till en api. Interface har ingen kod
                        utan det är bara sk ett promise för metoderna inom klassen.
                        <br><br>
                        Jag tycker är nöjd med hur jag löste uppgiften dock skulle det finnas många förbättrnings möjligheter. Som att använda mig mer utav klasses och extrend på ett kortekt sätt.
                        Tycker att det är lite för få klasser jag har använt mig utan. Skulle kunnat dela upp det fler för att få en bättre kodstruktur.
                        <br><br>
                        Jag gjorde inte den delen med att modellera kortspelet utan jag spara det till kmom03. Men iallafall att använda sig utav flödesdiagram och psuedokod
                        kan hjälpa en att en bättre översikt på hur koden fungerar men också om det sker ett problem med sin kod så kan man felsöka mycket lättare.
                        För att man kan följa flödesschemat på koden och grundligt kunna identifiera vart problemet ligger.
                        <br><br>
                        I detta kursmoment har jag fått att använda mig utav flera användbara tools för att jobba med php. Har också fått lära mig lite mer om hur api information
                        hanteras och används.
                    </p>
                </div>
                <div>
                    <h3> Kmom 03 </h3>
                    <p>
                        Att modellera ett kortspel med hjälpa itav ett flödesdiagram och psuedokod
                        underlättar enligt med felsökningen och komma vidare.
                        Att få hjälp visuellt underlättar implementationen av spelet.
                        Det som de hjälper med främst att få en lättare syn av helheten
                        av implementationen.
                        <br><br>
                        Jag implementerade uppgiften genom att ta nytta av flera klasser
                        som var byggda för förra kursmomentet som Draw och Shuffle.
                        Varje gång en spelare startar ett nytt spel skapas det en ny kortlek
                        så att alla korten kan bli dragna. Sedan varje gång spelaren eller bank ska
                        dra ett kort så används draw funktionen. Efter det använder den sig av sin
                        egna klass som räknar ut handvärdet och om det innehåller ett A som kan
                        var både 11 eller 1. Det som jag kan förbättra med denna uppgift
                        är att bygga upp koden i flera klasser som gör att kodstrukturen blir
                        bättre och felsökningen processen går snabbare.
                        <br><br>
                        Jag trivs att arbeta med ramverket Symfony.
                        Jag känner det ramverket inte är svårt att hantera eller få saker att fungera.
                        Har dock fastnatt i vissa problem med ramverket.
                        Men det finns alltid bra documentationen på nätet hjälper en att lösa
                        sitt problem.
                        <br><br>
                        I detta kmom har jag lärt mig vikten att kommentera vad koden gör.
                        Just under processen när jag skulle börja med grunden till spelet.
                        Med klasser som jag har arbetat med innan.
                    </p>
                </div>
                <div>
                    <h3> Kmom 04 </h3>
                    <p>
                        Redovisning 04
                    </p>
                </div>
                <div>
                    <h3> Kmom 05 </h3>
                    <p>
                        Redovisning 05
                    </p>
                </div>
                <div>
                    <h3> Kmom 06 </h3>
                    <p>
                        Redovisning 06
                    </p>
                </div>
                <div>
                    <h3> Kmom 07 / 10 </h3>
                    <p>
                        Redovisning 07 / 10
                    </p>
                </div>
                <br>
            </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>