{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Oscar Wystråle (Osay21)</h1>
        </div>
        <div class="row">
            <p> 
            Mitt namn är Oscar Wystråle jag studerar andra året på bth inom webprogrammering.
            Jag tycker om att programmera backend som främst är fuktionalitet och datahantering
            som inte syns men som påbärkar beteendet av programmet / websidan.
            </p>
        </div>
    </div>
{% endblock %}